/* ------------ youtube.com/CodeExplained ------------ */
html {
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right bottom, #777777, #706d71, #6b6368, #67595d, #635050);
}

/* ------------ header ------------ */
.header {
    height: 200px;
    background-image: url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?t=st=1710113109~exp=1710116709~hmac=7550d331049586d4fa71be864471409e256c31d3dbfc2c4047427d031bc3135c&w=740);
    border-radius: 50px 50px 0 0;
    position: relative;
}

.clear {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    right:20px;
    top: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
}

.clear:hover {
    background-color: red;
}

/* ------------ add item ------------ */
.add-to-do {
    background-color: #dee2e6;
}

input {
    border: solid 1px #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 50px;
}

/* ------------ content ------------ */
.content {
    background-color: #FFF;
    overflow: auto;
}

.garbage {
    cursor: pointer;
}

.garbage:hover {
    fill: red;
}